html, body {
  height: 100%;
}

@font-face {
  font-family: "BYekan";
  src: url("@/assets/fonts/BYekan+.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BYekan";
  src: url("@/assets/fonts/BYekan+ Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  direction: rtl;
  text-align: right;
  font-family: "BYekan", sans-serif;
  margin: 0 auto;
  padding: 0;
}
